body {
    font-family: "Lato", sans-serif;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0;
}

.nav-title {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

#map {
    margin: 0;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0;
    right: 0;
    z-index: -4;
    transition: left .5s;
}

.sidenav {
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: green;
}

.list-group-item {
    margin: 0;
    color: black;
    border-left: solid;
    border-bottom: solid;
}

#pano {
    width: 200px;
    height: 200px;
}   